.ship-selected {
	-fx-opacity: 0.85 !important;
	-fx-border-color: #888 !important;
	-fx-border-width: 1;
}
.battle-log {
	-fx-background-color: #EEE;
	-fx-border-color: #DDD;
	-fx-padding: 0 4 0 4;
}